body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $black;

  &.reverse_color {
    color: $orange;
  }
  &.white_color {
    color: $white;
  }
  &.text_align_left {
    text-align: left;
  }
}

h1 {
  font-size: 3rem;
  line-height: 3.8rem;
  margin: 10px 0 30px;
}

h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 10px 0 20px;
  &.line_styling {
      span {
          background: $white;
          padding: 0 30px;
          position: relative;
          z-index: 1;
      }
      position: relative;
      text-align: center;
      &:before {
          background: $orange;
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 50%;
          width: 100%;
          left: 0;
      }
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 28px;
  margin: 10px 0 20px;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}

strong {
    font-weight: 700;
}

p {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
  color: $black;
  &.reverse_color{
    color: $white;
  }
}

a {
    color: $brand_blue;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $orange;
    }
    &[href^="mailto"] {
      color: $brand_blue;
    }
    &:visited {
      color: $brand_blue;
    }
}

.button {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.button span {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border-radius: 3px;
    overflow: visible;
    border: 0;
    color: #FFF;
    background: #2E8836;
}

.home-bg {
    background-image: url('img/home.png');
    background-size: cover;
}
.jobs-bg {
    background-image: url('img/jobs.png');
    background-size: cover;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;

  .nav-item {
    padding: 0.5rem 0.3rem;

    &:hover, &.active {

      a.nav-link {
        color: $orange;
      }
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-toggler {
    padding-left: 0;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
  font-weight: 400;

  &:hover {
      color: $orange;
  }
}

.nav-link {
    display: block;
    padding: 0rem 1rem;
}

.nav-item.active a.nav-link {
    border-bottom: 2px solid $orange;
}

.navbar-brand {
  margin-right: 0;
  img {
    width: 50px;
  }
}

.list-group .list-group-item {
    border-radius: 0;
    background-color: $light_gray;
    color: $black;
    cursor: pointer;
    font-size: 14px;
    font-style: oblique;

    &.active {
        background-color: $brand_blue;
        border-color: $brand_blue;
        color: $white;
    }
}

ul.bullet {
    margin: 1.25em 0 1.25em 1.25em;
    list-style: none;
    padding-left: 0;

    li {
        line-height: 1.4em;
        margin: .5em 0 0;
        list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18px' height='18px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23e98024' d='M12,17.5A5.5,5.5,0,1,1,17.5,12,5.507,5.507,0,0,1,12,17.5Zm0-9A3.5,3.5,0,1,0,15.5,12,3.5,3.5,0,0,0,12,8.5Z'/%3E%3C/svg%3E");
    }
}

/* setting for header image or any section with background image in all pages*/
.intro-header {
  width: 100%;
  // height: 100%;
  text-align: center;
  .align-items-center{
    height: 100%;
    padding: 1.5rem 0;
  }
  &.jobs{
      padding: 60px 0px 80px;
  }
  &.about{
  }
  &.contact{
  }

  img {
    width: 100%;
  }
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  display: flex;
}

.intro-message > h1 {}

.intro-message > h3 {}

.home-disclaimer {
    p {
        color: $white;
        font-size: 14px;
        padding: 30px 20px 10px;
        text-align: center;
    }
    background-color: $brand_blue;
    border-bottom: 3px solid $orange;
}

h4.banner-message {
    padding: 0px 20px;
    text-align: justify;
    line-height: 1.4em;
    color: $white;
    font-weight: 300;
}

.ico-img {
    max-height:35px;
}

.intro-bottom-bg {
    background-image: url('img/about_team_bg.png');
    background-size: cover;
    margin-bottom: 4.5rem;
    img {
        position: absolute;
        max-width: 100%;
        height: 110%;
        top: -5%;
        box-shadow: 1px 1px 6px 1px $black;
    }
    .intro-team-section {
      padding: 7rem 4rem;
      p {
          font-size: 14px;
          text-align: justify;
      }
    }
}

hr {
   border-top: 2px solid $light_gray;
   max-width: 50%;
  &.vertical-line {
    width: 2px;
    height: 80px;
    background-color: $primary_color;
  }
  &.short-line{
    max-width: 6rem;
  }
  &.reverse_color{
    border-top-color: $white;
  }
  &.sub-header{
    border-top: 2px solid $primary_color;
    max-width: 4rem;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: .7rem;
  }
}
.border-right{
  border-right: 2px solid $light_gray;
}
ul {
  &.dashed{
  margin: 0;
  list-style-type: none;
  padding-left: 0.5rem;
  li{
    text-indent: -10px;
  }
  li:before{
    content: "-";
    text-indent: -5px;
    margin-right: 0.5rem;
  }
}
}
/*Accordion*/
.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  padding: 0;
  border-bottom: 1px solid $light_gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  a {
    display: block;
    padding: 1.5rem 2rem;
    font-weight: 500;
    &:before {
      content: "";
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: left;
      transition: transform .25s linear;
      -webkit-transition: -webkit-transform .25s linear;
      margin-right: 2rem;
      color: $primary_color;
    }
    &[aria-expanded="true"] {
      background-color: $light_gray;
      &:before {
        content: "\2212";
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        padding-bottom: 1px;
      }
    }
    &[aria-expanded="false"]:before {
      content: "\002b";
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      padding-bottom: 1px;
    }
  }
}
.panel-body{
  padding: 2rem;
  background-color: $light_gray;
  p {
    &.title{
      margin-bottom: 0.2rem;
      font-weight: bold;
    }
  }
}

/*Home page*/
#home{
    max-width: 960px;
    p {
        font-size: 14px;
        padding: 0px 60px;
    }
}
.bottom-row {
    margin-bottom: 3rem;
}
/* About us page*/
#about {
  padding-bottom: 3rem;

  .icon {
    max-width: 4rem;
    margin: 1rem;
  }
}
#jobs {
    padding-bottom: 0.5rem;
    padding-top: 3rem;

    #quantitative-developer, #quantitative-analyst {
        padding: 0px 30px;
        display: none;
    }
    h4 {
        text-align: left;
        font-weight: 400;
    }
    hr {
        max-width: 100%;
    }
    .jobs-desc-container {
        p {
            font-size: 14px;
        }
        ul.bullet li span{
            font-size: 14px;
        }
    }

}
/*Contact us page*/
#contact {
  padding-bottom: 3rem;
  padding-top: 1rem;

  .icon {
    max-width: 2rem;
  }

  iframe {
    margin: 2rem 0;
  }
}
/*Careers*/
#philosophy{
  background-color: $light_gray;
  padding: 2rem;
  .card-s{
    border: 0;
    border-radius: 0;
    box-shadow: .3rem .3rem .1rem $light_gray;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid $light_gray
  }
  .card-img-top{
    max-width: 3rem;
    margin: 1rem auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/* Services page*/
#primary-highlight{
background-color: $primary_color;
padding: 1rem 0;
.card{
  border: 0;
  border-radius: 0;
  background-color: $primary_color
}
.card-img-top {
  max-width: 3rem;
  margin: .5rem auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 66px;
}
.card-text{
  color: $white;
}
.card-title{
  color: $white;
  font-weight: 500;
  font-size: 1.2rem;
}
}
/*Footer*/
footer {
  margin-top: 2rem;
  padding: 0.6rem 0;
  background-color: $light_gray;
  img{
    width: 100px;
  }
  .footer-brand {
      padding: 20px 0px 10px;
      .footer-logo{
          img {
            width: 50px;
          }
      }
  }
  .footer-links {
      padding: 20px;
  }
  .goTop {
      display: none;
      background-color: $brand_blue;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 99;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 20px 15px 10px 15px;
      p {
        color: $white;
        font-size:14px;
        vertical-align: middle;
        font-weight: 300;
        line-height: 0;
      }
  }
}

@media (max-width: 991px) {
  .intro-bottom-bg {
      .intro-team-section {
        padding: 6rem 2rem;
      }
  }

}

@media (max-width: 767px) {
  #home p {
      padding: 0px 15px;
  }

  .intro-bottom-bg {
      margin-bottom: 2.5rem;
      img {
          position: relative;
          height: unset;
          top: unset;
      }
      .intro-team-section {
        padding: 1rem 2rem;
      }
  }
  .bottom-row {
      margin-top: 3rem;
      margin-bottom: unset;
  }

}
/* Media ueries */
@media (max-width: 575px) {
  #home
  {
    .layout-image{
    max-width: 100%;
  }
    .layout-text {
      max-width: 100%;
      position: relative;
      display: inline-block;
      &.right{
        right: initial;
      }
      &.left{
        left: initial;
      }
    }

  }
}
